<div class="list-group">
            <a href="{% url 'home' %}" class="list-group-item list-group-item-action list-group-item-success">ФИЛЬТР(СБРОСИТЬ)</a>
            <a href="{% url 'sort_table' 'find' %}" class="list-group-item list-group-item-action ">НАЙДЕН</a>
            <a href="{% url 'sort_table' 'give_out' %}" class="list-group-item list-group-item-action">ВЫДАН</a>
</div>

{#    <a href="{% url 'home' %}" class="list-group-item list-group-item-action list-group-item-success">ФИЛЬТР(СБРОСИТЬ)</a>#}
{#    <a href="{% url 'sort_table' %}?filter='find'" class="list-group-item list-group-item-action ">НАЙДЕН</a>#}
{#    <a href="{% url 'sort_table' %}?filter='give_out'" class="list-group-item list-group-item-action">ВЫДАН</a>#}


